<h2>Por País</h2>
<hr />

<div class="row">
  <div class="col">
    <!-- metodo a omitir onEnter le pasamos el parametro-->
    <!-- Con los parantesis se escucha el evento permitido y se lo pasa al metodo pais y le pasamos el event-->
    <app-pais-input
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencias($event)"
      placeholder="Buscar País..."
    ></app-pais-input>
  </div>
</div>
<ul class="list-group" *ngIf="mostrarSugerencias">
  <li
    class="list-group-item list-group-item-action"
    *ngFor="let pais of paisesSugeridos"
    (click)="buscar(pais.name.common)"
  >
    {{ pais.name.common }}
  </li>
</ul>

<hr />
<div class="alert alert-danger" *ngIf="hayError">
  No se encontro nada con el termino {{ termino }}...
</div>
<div class="row">
  <div class="col">
    <!-- se carga el componente y se le pasa la variable paises -->
    <!-- decorador input nos sirve para pasarle datos de un componente patre a un componente hijo en este caso le pasamos paises-->
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
