<div class="animate__animated animate__fadeIn animate__fadeIn animate__faster">
  <h2>Por Capital</h2>
  <hr />

  <div class="row">
    <div class="col">
      <!-- metodo a omitir onEnter le pasamos el parametro-->
      <!-- Con los parantesis se escucha el evento permitido y se lo pasa al metodo pais y le pasamos el event-->
      <app-pais-input
        (onEnter)="buscar($event)"
        placeholder="Buscar Capital..."
      ></app-pais-input>
    </div>
  </div>
</div>

<hr />
<div class="alert alert-danger" *ngIf="hayError">
  No se encontro nada con el termino {{ termino }}...
</div>
<div class="row">
  <div class="col">
    <!-- se carga el componente y se le pasa la variable paises -->
    <!-- decorador input nos sirve para pasarle datos de un componente patre a un componente hijo en este caso le pasamos paises-->
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
