<h2>Busquedas</h2>
<hr>
<ul class="list-group">
  <!-- routerLinkActive sirve para ponerle una clase cuando estemos en la ruta seleccionada -->
  <!-- routerLinkActiveOptions sirve para comprobar que la ruta sea la misma que se selecciono -->
  <li class="list-group-item" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    Buscar País</li>
  <li class="list-group-item" [routerLink]="['/region']" routerLinkActive="active">Buscar Región</li>
  <li class="list-group-item" [routerLink]="['/capital']" routerLinkActive="active">Buscar Capital</li>
</ul>
