<table class="table table-hover" *ngIf="paises.length>0">
  <thead>
    <tr>
      <td>#</td>
      <td>Bandera</td>
      <td>Nombre</td>
      <td>Población</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <!-- let i = index -->
    <tr *ngFor="let pais of paises; let i = index">
      <td>{{i+1}}</td>
      <td><img class="small-flag" [src]="pais.flags.png"></td>
      <td>{{pais.capital +','+ pais.name.common}}</td>
      <td>{{pais.population | number}}</td>
      <td>
        <a [routerLink]="['/pais/', pais.altSpellings[0]]">ver</a>
      </td>
    </tr>
  </tbody>
</table>
