<div class="alert alert-info" *ngIf="!pais; else divPais">Espere por favor....</div>

<!-- por si el pais existe, se le pone el nombre al template que se pone en la condicion del if-->
<ng-template #divPais>
  <div class="row">
    <div class="col-12">
      <h1>Pais: <small>{{ pais.name.common }}</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img class="img-thumbnail" [src]="pais.flags.png">
    </div>
    <div class="col">
      <h3>Informacion</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Poblacion: </strong>{{pais.population | number}}
        </li>
        <li class="list-group-item">
          <strong>Región: </strong>{{pais.region}}
        </li>
      </ul>
    </div>
  </div>
  <h3>Traducciones</h3>
  <div class="row">
    <div class="col">
      <span class="badge bg-primary mr-1">{{pais.translations['ara'].common}}</span>
      <span class="badge bg-primary mr-1">{{pais.translations['bre'].common}}</span>
      <span class="badge bg-primary mr-1">{{pais.translations['ces'].common}}</span>
      <span class="badge bg-primary mr-1">{{pais.translations['tur'].common}}</span>
      <span class="badge bg-primary mr-1">{{pais.translations['urd'].common}}</span>
      <span class="badge bg-primary mr-1">{{pais.translations['zho'].common}}</span>
    </div>
  </div>

  <!-- para que se vea el codigo del json le ponemos un pipe | y le pasamos el tipo que es json-->
  <pre class="mt-5">
    {{pais | json}}
  </pre>
</ng-template>


