<!-- Para capitalizar el nombre a la variable regionActiva le pasamos el pipe con la titlecase -->
<h3>
  Buscar por región: <small>{{ regionActiva | titlecase }}</small>
</h3>
<hr />
<h5>Seleccione la region</h5>
<div class="row">
  <div class="col">
    <!-- forma de poner la clase cuando se seleccione el boton de la region se marque -->
    <!-- forma 1 de hacer -->
    <!-- [class.btn-primary]="region === regionActiva" -->
    <!-- forma 2 de hacer -->
    <!-- [class]="(region === regionActiva) ? 'btn btn-primary' : 'btn btn-outline-primary'" -->
    <button
      *ngFor="let region of regiones"
      [class]="getRegion(region)"
      (click)="activarRegion(region)"
    >
      {{ region | titlecase }}
    </button>
  </div>
  <div class="row mt-3" *ngIf="paises.length > 0">
    <div class="col">
      <!-- se carga el componente y se le pasa la variable paises -->
      <!-- decorador input nos sirve para pasarle datos de un componente patre a un componente hijo en este caso le pasamos paises-->
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
  </div>
</div>
